
html,body {
	margin: 0;
	padding: 0;


}

body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}


.navigation {
	background-color: white;
	color: white;
	height: 50px;

	animation-name: navegacao;
	animation-duration: 4s;
}




.navigation ul {
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;

}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;
}

.navigation a {
	color: #6e75b9;
	text-decoration: none;
	font-weight: 400;
}

.navigation a:hover {
	color: #6e75b9;
	font-weight: bold;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	color: #6e75b9;
	cursor: pointer;
}

.capa {
	color: black;
	vertical-align: top;
	padding-bottom: 20px;
}

.capa span {
	color: #6e75b9;
	display: block;
}

.capa div {
	display: inline-block;
	height: 650px;
}

.profile-pic {
	width: 40%;
	text-align: center;

	animation-name: profile-capa;
	animation-duration: 2s;
}

.profile-pic img {
	width: 320px;
	border-radius: 320px;
	margin-top: 100px;
}


.profile-title {
	vertical-align: top;
	width: 59%;

		animation-name: titulo-capa;
		animation-duration: 2s;

}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 58px;
	margin-top: 200px;
	font-weight: 400;
	line-height: 54px;
}

.profile-title h2 {
	font-size: 16px;
	font-weight: bold;
	margin-top: -26px;
}


.main {
	padding: 40px 180px 80px 100px;

	animation-name: conteudo;
	animation-duration: 2s;

}

.cv-pic {
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.main h1 {
	color: black;
	font-weight: normal;
}

.main h2 {
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 {
	color: #6e75b9;
	font-size: 12px;
	text-transform: uppercase;

}

.main p {
	color: rgb(138, 133, 133);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
}


.caminho {
	list-style: none;
	padding-left: 0;
	color: grey;
}

.caminho li {
	display: inline-block;

}

.caminho a {
	color: black;
}

.social-img {
	width: 50px;
	margin-right: 10px;
}

.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a {
	text-decoration: none;
}


.blackbox {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	padding-top: 120px;
	transition: 1s;
}


.blackbox:hover {
	opacity: 0.8;
	transition: 1s;

}

.blackbox-text {
	text-align: center;
}

.blackbox-text h1 {
	font-size: 16px;
	color: #858cce;
	text-transform: uppercase;
	margin-top: 0px;
}

.blackbox-text h2 {
	text-transform: none;
	font-weight: 100;
	margin-top: 0;
}

.foto-trabalhos {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.back-link {
	color: #6866e2;
}


@keyframes profile-capa {
	0% {opacity: 0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
} 

@keyframes conteudo {
	0% {opacity: 0; transform: translate(-20px,0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
} 

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1}
} 




@media (max-width: 1000px) {


.navigation li {
	display: none;
}

.navigation li.threeline-icon {
	display: inline-block;
}


.capa div {
	display: block;
	height: auto;
}

.profile-pic {
	width: 100%;
}

.profile-pic img {
	max-width: 75%;
	margin-top: 0;
	max-width: 80%;
}

.profile-title {
	text-align: center;
	width: 100%;
}

.profile-title h1 {
	margin-top: 30px;
	font-size: 36px;
	margin-left: 20px;
	margin-right: 20px;
}

.profile-title h2 {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.main {
	padding: 10px 5% 40px 5%;
	overflow-wrap: break-word;
  	word-wrap: break-word;


}

.main p {
	text-align: left;
	line-height: 30px;

}

.caminho li {
	font-size: 12px;
}

.cv-pic {
	float: none;
	max-width: 100%;
	margin-right: 0px;
}

.miniatura {
	max-width: 100%;
	background-size: auto 100%;
}

.blackbox {
	opacity: 0.8;
}

.menujs {
	height: auto;
}

.menujs ul {
	height: auto;
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;

}

.menujs li {
	display: block;
	border-bottom: solid black 1px;
	width: 100%;
	padding: 0;

}



}






